
:root{
   
    --color-background-blue: rgb(20, 175, 202);
    --color-background-pink: rgb(223, 145, 171);
    --color-background-contenedor: rgb(255, 255, 255);
    --color-background-input:rgb(12, 209, 143);
    --color-background-button:rgb(180, 145, 221);

    --color-border-contenedor:  rgb(0, 0, 0);
    --color-border: rgb(127, 71, 190);

    --color-shadow: rgb(78, 11, 73);
}