
:root{
    --c-white: rgb(255, 255, 255);
    --c-black:  rgb(0, 0, 0);
    --c-azul: rgb(20, 175, 202);
    --c-rosa: rgb(223, 145, 171);

    --color-background-input:rgb(12, 209, 143);
    --color-background-button:rgb(180, 145, 221);
    
    --color-border: rgb(127, 71, 190);
}