
:root{
   
    --color-background-blue: rgba(144, 124, 144,56);
    --color-background-pink: rgba(136, 141, 168,66);
    --color-background-contenedor: rgb(255, 255, 255);
    --color-background-input:rgba(137, 179, 192,75);
    --color-background-button:rgba(152, 141, 140, 60);

    --color-border-contenedor:  rgb(0, 0, 0);
    --color-border: rgb(127, 71, 190);

    --color-shadow: rgb(100, 12, 94);
}